<!DOCTYPE html>
<html>
<head>

    <title>{{title}}</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div class="container">
    <div class="row">
        <a href="/jobs"><h1 id="title">Jobsly.io</h1></a>
    </div>

    {{{body}}}
</div>

</body>
</html>
