



<div class="row">
    <h3 class='col-md-4'>Current Open Positions</h3>
    <a href="/jobs/new"><button class='col-md-2 pull-right'>Create New Job Posting</button></a>
</div>

<div class="row">

</div>